@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: silver;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: 'Ubuntu', sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  background-color: black;
  color: rgb(255, 255, 255);
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 60vh;
  background-color: black;
  color: white;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
}

.container h2 {
  margin-bottom: 20px;
}

.songItem {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  /* align-items: center; */
}

.songItem img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px; /* Space between image and details */
}

.songDetails {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
}

.songTitle {
  margin-bottom: 5px;
}

.songlistplay {
  display: flex;
  align-items: center;
}

.songlistplay span {
  margin-right: 10px;
}

.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.icons {
  margin-top: 20px;
}

#myprogressBar {
  width: 80vw;
}

img {
  height: 40px;
  width: 40px;
}
